:root {
  --background: #000000;
  --text: #ffffff;
  --font: 'IBM Plex Mono', monospace;
  --button-hover: #1d1e1e;
  --highlight: #333;
}

body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

nav.topnav {
  background-color: var(--background);
  display: flex;
  justify-content: right;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  height: 72px;
  column-gap: 12px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  background-color: transparent;
}





nav.topnav {
  color: var(--text);
  text-align: center;
  text-decoration: none;
  background-color: var(--background);
  align-items: center;
  align-content: center;
  background-color: transparent;
}
nav.topnav a {
  line-height: 0;
}


.mail-icon:hover, .linkedin-icon:hover{
  background-color: var(--button-hover);
  border-radius: 25%;
  opacity: 100%;
}

.mail-icon, .linkedin-icon {
  width: 40px;
  opacity: 50%;
}

.top-button-collection{
  background-color: var(--background);
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  align-items: center;
  align-content: center;
  height: fit-content;
  padding: 2px;
  border-radius: 12px;

}




main.container {
  flex: 1;
  text-align: start;
  padding-top: 60px;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding-left: 5%;
  padding-right: 5%;
}

h1, h2 {
  color: var(--text);
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  word-wrap: break-word;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}
h3 {
  font-size: 2em;
}

.cursor-headder, .cursor-title {
  color: var(--text);
  animation: blink 0.7s infinite;
}
.cursor-title{
  visibility: hidden;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}



section {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.1rem;
}

section.introduction {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 200px;
}

.section-headder {
  margin: 0;

}

.headder, .title {
  grid-column: 1;
  align-self: flex-end
}



footer.footer {
  color: var(--text);
  text-align: center;
  padding: 10px 20px;


  bottom: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
  align-items: center;
  border-top: 1px solid var(--highlight); /* Adds a top border */


}



footer.footer a {
  color: var(--text);
  text-decoration: none;
  white-space: nowrap;
}

.footer-content {
  align-items: center;
  align-content: center;
  text-align: center;

  display: flex;
  justify-content: space-between;
  gap: 15px;
  
}




.made-in-container {
  display: inline-flex;
  align-items: center;
}

.made-in-container p {
  margin: 0;
  padding-right: 5px; /* Add some space between the text and the flag */
}

.made-in-container img {
  vertical-align: middle;
}









@media (max-width: 768px) {
  section.introduction {
    grid-template-columns: 1fr;
  }

  .photo {
    max-width: none;
    grid-column: 1;
    grid-row: 3;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }
  main.container {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }


  footer.footer {
    padding: 10px;

  
    bottom: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    align-items: center;
    border-top: 1px solid var(--highlight); /* Adds a top border */
  
  }

  footer.footer a, p {
    font-size: 10px;
  }
  
}
