:root {
  --background: #000000;
  --text: #ffffff;
  --font: 'IBM Plex Mono', monospace;
  --button-hover: #1d1e1e;
  --highlight: #333;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

nav.topnav {
  background-color: var(--background);
  display: flex;
  justify-content: right;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  height: 72px;
  column-gap: 12px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  background-color: transparent;
}





nav.topnav {
  color: var(--text);
  text-align: center;
  text-decoration: none;
  background-color: var(--background);
  align-items: center;
  align-content: center;
  background-color: transparent;
}
nav.topnav a {
  line-height: 0;
}

nav.topnav a:hover {
}
.mail-icon:hover, .linkedin-icon:hover{
  background-color: var(--button-hover);
  border-radius: 25%;
  opacity: 100%;
}

.mail-icon, .linkedin-icon {
  width: 40px;
  opacity: 50%;
}

.top-button-collection{
  background-color: var(--background);
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  align-items: center;
  align-content: center;
  height: fit-content;
  padding: 2px;
  border-radius: 12px;

}




main.container {
  flex: 1;
  text-align: center;
  padding: 20px;
  padding-top: 60px;
  box-sizing: border-box;
}

h1, h2 {
  font-family: var(--font);
  color: var(--text);
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  word-wrap: break-word;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 4vw;
}

.cursor {
  font-weight: bold;
  color: var(--text);
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}



section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.introduction {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}

.headder, .title {
  grid-column: 1;
}

.photo {
  width: 100%;
  max-width: 600px;
  border-radius: 5%;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}


footer.footer {
  background-color: var(--highlight);
  color: white;
  text-align: center;
  padding: 10px;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.mail-icon-footer, .linkedin-icon-footer, .discord-icon-footer {
  width: 25px;
}



@media (max-width: 768px) {
  section.introduction {
    grid-template-columns: 1fr;
  }

  .photo {
    max-width: none;
    grid-column: 1;
    grid-row: 3;
  }

  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 6vw;
  }
}
