:root {
  --background: #000000;
  --text: #ffffff;
  --button-hover: #1d1e1e;
  --highlight: #333;

  --font: 'IBM Plex Mono', monospace;
}

h1, h2 {
  color: var(--text);

  margin: 0;
  padding: 0 10px;

  box-sizing: border-box;
  word-wrap: break-word;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}
h3 {
  font-size: 2em;
}



body {
  color: var(--text);
  background-color: var(--background);

  font-family: var(--font);
  
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}















nav.topnav {
  background-color: transparent;

  display: flex;
  justify-content: right;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  height: 72px;
  column-gap: 12px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;

  text-align: center;
  align-items: center
}

nav.topnav a {
  line-height: 0;
}

.mail-icon, .linkedin-icon {
  width: 40px;
  opacity: 50%;
}

.mail-icon:hover, .linkedin-icon:hover{
  background-color: var(--button-hover);
  border-radius: 25%;
  opacity: 100%;
}

.top-button-collection{
  background-color: var(--background);
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  align-items: center;
  align-content: center;
  height: fit-content;
  padding: 2px;
  border-radius: 12px;
}














.container {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 60px;
  padding-bottom: 40px;

}

.container-center {
  flex: 1;
  text-align: start;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.section-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10vh;
  
}
section {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.1rem;
  padding-top: 20px;


}
.section-headder {
  margin: 0;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-scroll {
  opacity: 0;
  transition: opacity 800ms ease-in, transform 800ms ease-in;
}

.animate-on-scroll.active {
  animation: fadeIn 800ms ease-in forwards;
}
















.introduction {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 20px;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
}

.cursor-headder, .cursor-title {
  color: var(--text);
  animation: blink 0.7s infinite;
}
.cursor-title{
  visibility: hidden;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.headder, .title {
  grid-column: 1;
  align-self: flex-end
}
.headder{
  grid-row: 1;
}
.title{
  grid-row: 2;
}

.introduction button{
  background-color: var(--background);
  color: var(--text);
  border-color: var(--text);
  border-style: solid;
  height: min-content;
  width: max-content;
  padding: 10px;
  border-radius: 12px;
}
.introduction-buttons{
  grid-row: 3;
  padding: 10px;
}




















.about-section {
  margin-top:75vh;
}















.project-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: space-between;
}

.project-article {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;


  border: 2px solid var(--highlight);
  border-radius: 20px;

  min-width: min-content;
  overflow: hidden; 

}


.project-article-text {
  padding: 10px;
  
}
.project-article-text h4 {
  margin: 0;
}



.image-container {
  position: relative;
  max-width: 100%;
  height:  300px;

}
.project-article-image {
  max-width: 100%;
  height:  100%;
}

.project-article-image:hover {
  max-width: 100%;

}

.project-article-image-buttons {
  display: none;
  flex-direction: row;
  justify-content: space-between;

  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.image-container:hover .project-article-image-buttons {
  display: flex;
}


.arrow {
  top: 50%;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}






















.footer {
  color: var(--text);
  text-align: center;
  padding: 10px 20px;


  bottom: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
  align-items: center;
  border-top: 1px solid var(--highlight);
}


.footer a {
  color: var(--text);
  text-decoration: none;
  white-space: nowrap;
}

.footer-content {
  align-items: center;
  align-content: center;
  text-align: center;

  display: flex;
  justify-content: space-between;
  gap: 15px;
  
}

.made-in-container {
  display: inline-flex;
  align-items: center;
}

.made-in-container p {
  margin: 0;
  padding-right: 5px;
}

.made-in-container img {
  vertical-align: middle;
}
























@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }


  main.container {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }


  section.introduction {
    grid-template-columns: 1fr;
  }



  .project-article-image-buttons {
    display: flex;
  }



  .footer {
    padding: 10px;      
  }

  .footer a, p {
    font-size: 10px;
  }  
}
